snippet stub_func "Stubs out a function" b
${1:public }function ${2:functionName}($3) {
	${4:// TODO: write some code}
}
endsnippet

snippet stub_class "Stubs out a class" b
class ${1:ClassName}${2: extends SomeClass} {
	${3:// TODO: some variables}
}
endsnippet
